.websiteURL {
  .arrow {
    position: relative;
    transition: all 0.18s ease-in, opacity 0.14s ease-out;
    opacity: 50%;
    top: -2px;
    left: 1px;
  }

  &:hover {
    .projectName {
      color: #fff;
    }

    .arrow {
      top: -4px;
      left: 2px;
      opacity: 1;
    }
  }
}
