.SkillsTooltip {
  position: relative;
  display: inline-block;

  .skillsTooltipButton {
    transition: transform 0.2s ease-out;

    &:hover {
      transform: rotate(90deg);
    }
  }

  .tooltipContent {
    opacity: 0;
    transition: opacity 0.25s;

    visibility: hidden;
    width: 120px;
    position: absolute;
    z-index: 1;
    bottom: 145%;
    left: 50%;
    margin-left: -60px;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -7px;
      border-width: 7px;
      border-style: solid;
      border-color: #4338ca transparent transparent transparent;
    }
  }

  &:hover .tooltipContent {
    visibility: visible;
    opacity: 1;
  }
}
