@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT STYLING */
:root {
  --color-primary: #4f46e5;
  --color-selection: rgba(77, 69, 230, 0.2);

  /* Font rendering, smoothing, adjusting */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: var(--color-selection);
  /* color: #fff; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* TIP: :focus-visible instead of :focus shows the outline only when pressing TAB on the keyboard (it keeps the default behavior) */
:focus-visible {
  outline: 2px solid var(--color-primary);
}

/* THEME */
/* html {
  color-scheme: dark light;
} */

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Inter', 'SF Pro',
    'San Francisco Pro', 'Helvetica Neue', Helvetica, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* text-align: center; */

  /* overflow: hidden; */
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select,
a,
a:link,
a:visited,
a:hover,
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  /* outline: none; */
}

ul,
li {
  list-style: none;
}

section {
  min-height: calc(100vh);
}

section.dark {
  /* background-color: #0a172a; */
  background-color: rgb(16, 19, 67);
  /* background-color: #0f172a; */
  /* background-color: hsl(238, 47%, 20%); */

  box-shadow: 0 0 3px 5px rgba(16, 19, 67, 0.25);

  color: #eef2ff;
  transform: skew(0deg, -6deg);
}

section.dark > * {
  transform: skew(0deg, 6deg);
}

/* DARK MODE */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
