// Link Hover Line Animation
.linkHoverLineAnimation::before,
.activeLinkHoverLineAnimation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #334155; // slate 700
  border-radius: 20px;
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

// Hover
.linkHoverLineAnimation:hover::before,
.activeLinkHoverLineAnimation:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

// Active
.linkHoverLineAnimation:active::before,
.activeLinkHoverLineAnimation:active::before {
  background-color: #475569; // slate 600
}

// * ACTIVE SECTION LINK STATE
.activeLink {
  color: #4f46e5; // indigo 600

  &:active {
    color: #6366f1; // indigo 500
  }
}

.activeLinkHoverLineAnimation::before {
  background-color: #4f46e5;
}
