.fadeInAnimation {
  position: relative;
  animation: fadeIn 0.5s ease-in-out, slideIn 0.5s ease-in-out;
}

.fadeInAnimationDelayed {
  position: relative;
  animation: fadeIn 0.5s ease-in-out, slideIn 0.5s ease-in-out 0.1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
